body .container-4{

    min-height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items:flex-end;

}

.container-4{

    width: 400px;

    background-color: blanchedalmond;
}